/*
   Primary Colors
*/

$white: #fff;
$white-50:#f2f2f2;
$white-100:#ddd;
$orange: #ff7203;
$red: #bd0707;

$black:#000;
$dark-gray:#282828;
$medium-gray: #505050;
/*
  Specific colors
*/
$modal-background: #000000f7;
$background-color: #ffffff;
$font-colors: #fff;